/* OpenSavingsAccountForm.module.css */

.container {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 0%;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.formContainer {
  margin-bottom: 20px;
}

.customForm {
  display: flex;
  flex-direction: column;
}


.formSelect,
.formControl {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s, background-color 0.3s;
}

.formSelect:focus,
.formControl:focus {
  outline: none;
  border-color: #007bff;
  background-color: #f5f5f5;
}

.formCheckLabel {
  font-weight: normal;
  padding-left: 5px;
}

.customButton {
  align-self: flex-end;
  transition: background-color 0.3s;
}

.customButton:hover {
  background-color: #007bff;
}

.alert {
  font-size: 12px;
  margin-top: 5px;
}
